main section.comics-cards-section .comics-cards .comic-card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}

main section.comics-cards-section .comics-cards .comic-card p {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
}