/* Define variable for flex basis in footer info menu*/
:root {
    --colsnum: 3;
    --gap: 20px;
}

/* Define some "global" properties for footer */
footer {
    color: white;
    margin: 0 auto;
}

/* Container with footer info menu and background image*/
footer div.footer-info {
    width: 100%;
    background-image: url(../../img/footer-bg.jpg);
    z-index: 0;
    font-size: 0.7rem;
    background-size: cover;
    display: flex;
    height: 400px;
}


/*Style and position of elements of footer info menu*/
footer div.info-footer-menu {
    padding: 36px 0;
    margin-left: 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: calc(var(--gap)*2);
}

/*flex properties for flex child items*/
footer div.info-footer-menu div.info-footer-card {
    flex-grow: 0;
}

footer div.info-footer-menu div.info-footer-card h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

footer div.info-footer-menu div.info-footer-card ul {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    color: lightgray;
}

/* Logo background */

footer div.logo {
    flex-grow: 1;
    background-image: url(../../img/dc-logo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    margin-right: 5%;
}


/*"social media" footer positions and styles*/

footer .footer-social {
    width: 100%;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .follow-footer {
    padding: 24px;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap)
}

#signup-btn {
    background: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    border: 2px solid #007FFF;
    padding: 10px;
    margin-left: 5%;
    transition: 0.3s ease-out;
}

#signup-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.follow-footer h3 {
    color: #007FFF;
    text-transform: uppercase;
    font-size: 1.2rem;
}