:root {
    --colsnum: 3;
    --gap: 20px;
}

footer {
    background-color: rgb(50, 50, 50);
    color: white;
}

footer div.info-footer-menu {
    padding-top: 36px;
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    background-image: url(../../img/footer-bg.jpg);
}

footer div.info-footer-menu div.info-footer-card {
    flex-basis: calc((100% / (var(--colsnum))) - ((var(--colsnum) - 1) * var(--gap)) / var(--colsnum));
    flex-grow: 0;
    flex-shrink: 0;
}

footer div.info-footer-menu div.info-footer-card h3 {
    text-transform: uppercase;
}

footer div.info-footer-menu div.info-footer-card ul {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

footer .footer-social {
    display: flex;
}

footer .follow-footer {
    margin: 24px;
    display: flex;
    gap: var(--gap)
}