header {
    width: 95dvw;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

header>* {
    flex-grow: 0;
    flex-shrink: 0;
}

nav {
    display: flex;
    gap: 10px;
    align-items: center;
    min-width: 60dvw;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
    text-transform: uppercase;
}


ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}