.nav-menu {
    background-color: #007FFF;
    width: 100%;
    min-height: 7rem;
    display: flex;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.nav-menu ul li a {
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.nav-menu ul li img {
    height: 40px;
    margin-right: 7px;
    vertical-align: middle;
}