/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */

body {
    width: 100dvw;
    font-family: "Lucida Sans", sans-serif;
    font-style: normal;
}

.main-container {
    min-width: 520px;
}

.container {
    max-width: 1280px;
}