@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.main-container {
    min-width: 520px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/* unset default list style on all unordered lists*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}